body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, #ff99b3, #ff6699);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Arial Rounded MT Bold', sans-serif;
}

@keyframes shooting-star {
    0% {
        opacity: 0.5;
        transform: translateY(0) translateX(0) rotate(0deg);
    }
    50% {
        opacity: 0;
        transform: translateY(-50px) translateX(20px) rotate(45deg);
    }
    100% {
        opacity: 0;
        transform: translateY(-90px) translateX(40px) rotate(90deg);
    }
}

.shooting-star {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #fff;
    transform-origin: 100% 50%;
    animation: shooting-star 1s infinite;
    z-index: 1;
}

.shooting-star:nth-child(1) {
    top: 10%;
    left: 20%;
}

.shooting-star:nth-child(2) {
    top: 30%;
    left: 70%;
}

.shooting-star:nth-child(3) {
    top: 50%;
    left: 40%;
}

.card-container {
    perspective: 1000px;
    width: 450px;
    height: 375px;
    position: absolute;
    top: -60vh;
    left: 50%;
    transform: translateX(-50%);
    margin-right: 20px;
    transition-duration: 250ms;
    z-index: 2;
}

@media only screen and (max-width: 600px) {
    .card-container {
        width: 250px;
        height: 375px;
    }
}

@media only screen and (max-height: 480px) {
    .card-container {
        width: 150px;
        height: 225px;
    }
}

.card-container.move-to-center {
    top: 20%;
    transition: top 550ms;
}

.card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    cursor: pointer;
}

.flipped {
    transform: rotate(0deg) rotateY(180deg);
}

.card-container.move-to-top {
    top: -60vh;
    transition: top 250ms;
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 24px;
    font-weight: bold;
    border-radius: 13px;
    box-shadow: 0 12px 40px -5px rgba(0, 0, 0, 0.5), inset 0 0 0 1px rgba(0, 0, 0, 0.3);
    transform: rotate(8deg);
}

.front {
    background: linear-gradient(to bottom, #cc6680, #993366);
}

.back {
    background-color: #ffffff;
    transform: rotateY(180deg);
}

.profile {
    width: 100%;
    box-sizing: border-box;
}

.profile img {
    width: 45%;
    height: 45%;
    border-radius: 10px;
    align-items: center;
    margin: 0.5em;
}

@media only screen and (max-width: 600px) {
    .profile img {
        width: 90%;
        height: 90%;
    }
}

@media only screen and (max-height: 480px) {
    .profile img {
        width: 45%;
        height: 45%;
    }
}


.profile p {
    margin: 0em;
}

.text-container {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.text-container > div {
    text-align: left;
}

@media only screen and (max-width: 600px) {
    .profile p {
        font-size: 0.7em;
        margin: 0em;
    }

    .profile img {
        width: 90%;
        height: 90%;
    }

    .text-container > div p {
        font-size: 0.6em;
        margin-bottom: 0.2em;
    }
}

@media only screen and (max-height: 480px) {
    .profile p {
        font-size: 0.6em;
    }

    .profile img {
        width: 45%;
        height: 45%;
    }

    .text-container > div p {
        font-size: 0.6em;
        margin-bottom: 0.1em;
    }
}





.buttons-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1em;
    position: fixed;
    z-index: 999;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.buttons-container.hidden {
    opacity: 0;
    pointer-events: none;
}


.buttons-container.top {
    top: 0;
}

.buttons-container.bottom {
    bottom: 0;
}

.button-cell {
    text-decoration: none;
    padding: 0.4em 1.5em; /* Adjust the padding values (top/bottom left/right) */
    transition: background-color 0.3s, color 0.3s;
    border-radius: 30px; /* Increase the border-radius for a more rounded shape */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    background-color: white; /* Set the background color to white */
    color: #333; /* Set text color */
    box-shadow: 0 12px 40px -5px rgba(0, 0, 0, 0.5), inset 0 0 0 1px rgba(0, 0, 0, 0.3);
}


.button-cell .icon {
    fill: white;
}

.buttons-container .icon {
    width: 24px;
    height: 24px;
}

footer {
    width: 100%;
    text-align: center;
    font-size: 0.8em;
    color: #555;
}
