body {
  color: #000000;
  font-size: 16px;
  line-height: 15px;
  font-family: meow, system-ui;
  margin: 0;

  /* https://stackoverflow.com/a/58391331 */
  --d: 1px; 
   
  background:radial-gradient(
    circle at 
       var(--d) 
       var(--d), 
       
    #929292 calc(var(--d) - 1px), 
    #0000 var(--d)
  )
  0 0 / 10px 10px;
}

@font-face {
  font-family: meow;
  src: url('../components/font/kyguk9.ttf') format('truetype');
}

/* mweowmeowmewoemwoemwoe */

.layout {
  display: grid;
  max-width: auto;
  gap: 20px;
  padding-inline: 20px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

@media screen and (min-width: 700px) {
  .layout {
    max-width: 600px;
  }
}

/* BOXES */

.main-box {
  display: flex;
  align-items: flex-start;
  background-color: #ffffff;
  border: 1px solid #b1b1b1;
  border-radius: 1px;
  box-shadow: 4px 4px 0px 1px  #DEDEDE;
}


/* OTHER BOXES */

.container {
  display: flex;
}

.container > * {
  flex-grow: 1;
  margin-right: 20px;
}

.container > *:last-child {
  margin-right: 0;
}

@media screen and (min-width: 700px) {
  .container {
    max-width: 600px;
  }
}

.other-box {
  display: flex;
  height: 130px;
  align-items: flex-start;
  background-color: #ffffff;
  border: 1px solid #b1b1b1;
  border-radius: 1px;
  box-shadow: 4px 4px 0px 1px  #DEDEDE;
  align-items: flex-start;
}

/* IMAGES */

.image-box {
  display: flex;
  align-items: flex-start;
  background-color: #ffffff;
  border: 1px solid #b1b1b1;
  border-radius: 1px;
  box-shadow: 4px 4px 0px 1px  #DEDEDE;
}

.dandelion-image {
  max-width: 94%;
  padding: 17px;
}

/* TEXT */

.general-title {
  padding-top: 90px;
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}


h2, h4, h5 {
  display: flex;
  align-items: center;
  justify-content: center;
}

h3 {
  display: flex;
  align-items: center;
  justify-content: left;
}


p {
  color: #000000;
  font-weight:800;
  z-index: 3;
}

y-bold {
  font-weight: bold;
  background-color: rgb(252, 252, 167);
  display: inline-block;
  padding: 0 2px;
}

p-bold {
  font-weight: bold;
  background-color: rgb(253, 197, 197);
  display: inline-block;
  padding: 0 2px;
}

g-bold {
  font-weight: bold;
  background-color: rgb(211, 253, 197);
  display: inline-block;
  padding: 0 2px;
}

b-bold {
  font-weight: bold;
  background-color: rgb(197, 224, 253);
  display: inline-block;
  padding: 0 2px;
}

.centered-content {
  text-align: center;
  letter-spacing: 22px;
}