@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  color-scheme: light dark;
}

body {
  color: light-dark(#000000, #ffffff);
  font-size: 16px;
  line-height: 15px;
  font-family: Nunito, "Helvetica Neue", -apple-system, BlinkMacSystemFont, sans-serif;
  margin: 0;

  --d: 1px; 
   
  background:radial-gradient(
    circle at 
       var(--d) 
       var(--d), 
       
    light-dark(#929292, #959595) calc(var(--d) - 1px), 
    #0000 var(--d)
  ) 0 0 / 20px 20px;
  background-color: light-dark(#ffffff, #000000);
}

/* mweowmeowmewoemwoemwoe */

.layout {
  display: grid;
  max-width: auto;
  gap: 20px;
  padding-inline: 20px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

@media screen and (min-width: 700px) {
  .layout {
    max-width: 600px;
  }
}

/* TEXT */

.general-title {
  padding-top: 90px;
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

h1 {
  margin-bottom: 5px;
}

h2 {
  margin-top: 0px;
}

p {
  color: light-dark(#000000, #ffffff);
  font-weight:800;
  z-index: 3;
}

b {
  padding: 15px;
  color: light-dark(#000000, #ffffff);
  font-weight:400;
  z-index: 3;
}

y-bold {
  font-weight: bold;
  background-color: rgb(252, 252, 167);
  display: inline-block;
  padding: 0 2px;
}

p-bold {
  font-weight: bold;
  background-color: rgb(253, 197, 197);
  display: inline-block;
  padding: 0 2px;
}

g-bold {
  font-weight: bold;
  background-color: rgb(211, 253, 197);
  display: inline-block;
  padding: 0 2px;
}

b-bold {
  font-weight: bold;
  background-color: rgb(197, 224, 253);
  display: inline-block;
  padding: 0 2px;
}

.centered-content {
  text-align: center;
  letter-spacing: 22px;
}

.stupid-line {
  height: 20px; 
  margin-top:10px;
  filter: invert(50%);
  
}

@media screen and (min-width: 700px) {
  .stupid-line {
    display: block;
    height: 30px; 
  }
}

.stupid-heart {
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 30px;
  height: 30px;
}

.stupid-more {
  justify-content: right;
  align-items: right;
  height: 100px; 
  width: 300px;
  margin-top:-20px;
}

@media screen and (min-width: 700px) {
  .stupid-more {
    height: 150px; 
    width: 550px;
  }
}

@media (prefers-color-scheme: light) {
  .stupid-more {
    filter: invert(100%);
  }
}