/* box, friend box, etc */

.box {
	/* background-color: var(--site-secondary-color); */
	background: var(--site-primary-color);
    border: 1px solid var(--site-tertiary-color);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	padding: 10px;
	border-radius: 5px;
}

.box-special {
	/* background-color: var(--site-secondary-color); */
	background: var(--site-box-background-color);
    border: 1px solid var(--site-box-border-color);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	padding: 10px;
	border-radius: 5px;
}

/* friend avatars */

.friend-avatar {
	width: 50px;
	height: 50px;
	border-radius: 5%;
}

/* pills */

.contact-pill {
	margin-top: 7px;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 7px 13px;
	margin-right: 7px;
	border-radius: 5px;
	background-color: var(--site-primary-color);
	border: 1px solid var(--site-tertiary-color);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	transition: 0.3s;
	color: white;
}

.contact-pill:hover {
	background-color: var(--site-secondary-color);
}

.contact-pill img {
	width: 15px;
	height: 15px;
}

.contact-pill span {
	margin-left: 5px;
	font-size: 16px;
}

/* name */

.name {
	margin-top: 10px;
	color: var(--site-general-text-color);
	font-size: 2.1em;
	font-weight: 700;
}

.username {
	margin-top: -40px;
	color: var(--site-secondary-text-color);
	font-size: 1em;
	font-weight: 400;
}

.profile-pic {
	width: 55px;
	height: 55px;
	border-radius: 10%;
	object-fit: cover;
	border: 1px solid var(--site-tertiary-color);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* icons? */

.material-symbols-outlined {
	color: var(--site-secondary-text-color);
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.material-icons.md-18 {
	font-size: 18px;
}

.material-icons.md-24 {
	font-size: 24px;
}

.material-icons.md-36 {
	font-size: 36px;
}

.material-icons.md-48 {
	font-size: 48px;
}

.material-icons.md-dark {
	color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
	color: rgba(0, 0, 0, 0.26);
}

.material-icons.md-light {
	color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
	color: rgba(255, 255, 255, 0.3);
}