@font-face {
	font-family: "Nunito";
	src: url(/fonts/Nunito.ttf);
	font-weight: 100 900;
	font-style: normal;
}

:root {
	--site-background-color: #181818;
	--site-primary-color: #202020;
	--site-primary-alpha-color: #2020207b;
	--site-secondary-color: #282828;
	--site-tertiary-color: #383838;

	--site-general-text-color: #f5f5f5;
	--site-secondary-text-color: #cfcfcf;

	--site-pill-color: #3a3a3a;
	--site-pill-hover-color: #4a4a4a;

	--site-box-background-color: #2021287b;
	--site-box-border-color: #676896;

	--site-links-color: #8ab4f8;
	--site-links-color-hover: #4a90e2;

	--site-seperator-color: #808080;
}

body, html {
	color: var(--site-general-text-color);
	font-family: "Nunito", sans-serif;
	background: var(--site-background-color);
	margin: 0;
}

.layout {
	max-width: 800px;
	margin: 0 auto;
	padding: 0 20px;
}

/* seperator, etc */

.seperator {
	margin: 20px 0; 
	border: 0; 
	border-top: 1px solid var(--site-secondary-color);
}

/* text */

p {
	font-size: 1.2em;
	color: var(--site-general-text-color);
}

h2 {
	margin-bottom: 10px;
}

/* links */

a {
	color: var(--site-links-color);
	text-decoration: none;
}

a:hover {
	color: var(--site-links-color-hover);
}