/* AVATAR */
.avatar-squircle {
    width: 100px;
    height: 100px;
    display: block;
    padding: 10px;
}

.avatar-border {
    width: 120px;
    height: auto;
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
    background-color: #ffffff;
    border: 1px solid #b1b1b1;
    border-radius: 1px;
    box-shadow: 4px 4px 0px 1px #DEDEDE;
}

@media screen and (min-width: 800px) {
    .avatar-border {
        margin-top: -130px;
        margin-left: -50px;
    }
}

/* SIDE ? */

.links-container {
    display: flex grid;
    position: relative;
}

@media screen and (min-width: 800px) {
    .links-container {
        position: absolute;
        top: 782px;
        left: 540px;
    }
}

.links-panel {
    width: 120px;
    height: auto;
    background-color: #ffffff;
    border: 1px solid #b1b1b1;
    border-radius: 1px;
    box-shadow: 4px 4px 0px 1px #DEDEDE;
}

/* SOCIAL SVGS */
    
.svg-class {
    width: 50px;
    height: 50px;
    padding-bottom: 20px;
}

/* PAGE IMAGES */

.sitting-cutie {
    width: 100px;
    height: auto;
    margin-left: 200px;
    margin-top: 135px;
    z-index: 0;
    position: absolute;
}

@media screen and (min-width: 800px) {
    .sitting-cutie {
        margin-left: 400px;
    }
}

.dancing-cutie {
    display:block;
    width: 300px;
    height: auto;
    margin-left: 200px;
    margin-top: 995px;
    z-index: 1;
    position: absolute;
}

@media screen and (min-width: 800px) {
    .dancing-cutie {
        display: none;
    }
}

/* STUPID PLAYER */
.album-cover {
    width: 50px;
    height: 50px;
    border-radius: 10%;
    align-items: center;
}

.album-info {
    padding-inline: 10px;
    margin-right: 100px;
}

.favorite-song {
    align-self: flex-start;
    padding-left: 10px;
}

.song-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.song-artist {
    color: #666;
    margin-top: 0;
}

/* STUPID SCROLLBAR */

/* made by @ps1 */
::-webkit-scrollbar {
    width:15px; height:15px;
}   

::-webkit-scrollbar-track { 
    background-image: url(https://i.imgur.com/n1kAWKU.png);
}

::-webkit-scrollbar-thumb {
    background-image: url(https://i.imgur.com/KePIOiE.png);
    border-top: 1px solid #D4D0C8; border-bottom: 1px solid #808080;
}

.top-buttons {
    display: flex;
    flex-direction: column;
  }