---
import "../../styles/page.css";
import "./about.css";

const meow = `
## About
I'm a software developer from California, I mainly do UI/UX work on apple-based platforms (often open-source!)

### Skills
- Swift
- Objective-C
- C
- HTML/CSS/JS

I mainly use **Cocoa** frameworks for my iOS projects, though sometimes I do also incorporate **SwiftUI** in some very specific cases. 

For web it's just the standard **HTML/CSS/JS**, with the Astro framework.

I often do requests for people I'm close with regarding UI/UX stuff, sometimes some of that don't hit the light of day but thats fine.

### Tools I Use
- Xcode
- Zcode **(I made this!)**
- Visual Studio Code
- Pixelmator Pro
- iTerm2

## Hobbies
- I play a lot of games (unsurprisingly)! I often play **Geometry Dash**, **Terraria**, **Minecraft**, etc. I do have my own skills in creating/designing for these type of games, I really love doing this type of thing. Just building and doing what I want is really fun for me.

- I like to do designing work mainly by request, I do it for fun as I just find a lot of joy doing so.

- I like customizing my stuff, usually to fit my own personal style :))

ᓚᘏᗢ <(Zzzz)

## More About Me
☆ Indoors person ☆ Professional Sleeper ☆ Loves the rain ☆ Sushi lover ☆ Talkative ☆
`;

---

<about>
    <pre id="code-block">{meow}</pre>
</about>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const pre = document.getElementById("code-block");
        let html = pre.innerHTML;

        html = html.replace(/^#+.*$/gm, function(match) {
            const level = (match.match(/^#+/)[0] || "").length;
            const fontSize = 2.2 - (level * 0.4);
            let line = `<div class="line-container" style="font-weight: bold; font-size: ${fontSize}em"><span class="tint">${match}</span></div>`;
            if (level <= 2) {
                line += '<div style="margin-top:10px;" class="separator"></div>';
            }
            return line;
        });

        html = html.replace(/^-/gm, '<span class="tint">-</span>');
        html = html.replace(/\*\*(.*?)\*\*/g, '<span class="tint-dark">**</span><span style="font-weight: bold;" class="tint">$1</span><span class="tint-dark">**</span>');

        pre.innerHTML = html;
    });
</script>

