pre {
    padding: 14px;
    margin-top: 0px;
    border-radius: 8px;
    position: relative;
    background-color: #141414;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-wrap: break-word;
    font-size: 0.8em;
    border: 1px solid;
    border-color: #282828;
}
  
.tint {
    color: #e05757;
}

.tint-dark {
    color: #752d2d;
}

.separator {
    height: 0.7px;
    background-color: #313131;
    margin: 6px 0;
}
