---
import "../../styles/page.css";
import "./card.css";
---

<card>
    <script src="./card.js"></script>
    <div style="margin-bottom: 18px;" class="profile-card" id="profileCard">
        <div class="profile-image-wrapper">
            <img id="profileImage" class="profile-image" alt="Profile Image" />
            <img class="pin-icon" src="/assets/pin.png" />
        </div>
        <b id="profileName"></b>
        <p id="profileUsername"></p>
    </div>
</card>
