---
export const prerender = true;
import Layout from "../layouts/Default.astro";
import "../styles/page.css";
---

<Layout>
    <div class="layout" style="margin-top: 100px;">

        <a href="https://twitter.com/paccha_7">
            <img
              src="assets/characters/GLquV7LXMAAofS4.jpg"
              class="sitting-cutie"
              alt="cute chibi character"
              style="width: 300px; content-align: center; margin: 0 auto; display: block;"
            />
          </a>

        <div style="padding-inline: 20px;" class="main-box">
            <div>
                <h1>404</h1>
                <a href="/"><p>Go home</p></a>
            </div>
        </div>
    </div>
</Layout>
