---
import Layout from "../layouts/Default.astro";
import "../styles/page.css";
import Code from "../components/Block.astro";
import { Debug } from "astro:components";
import { Image, Picture } from "astro:assets";
---

<Layout>
    <div class="box" style="position: relative;border:none; width:500px; height:1000px;overflow:hidden;margin: 0 auto;">

        <div class="row" style="padding-top:10px;">
            <div class="column" style="width: 100%; background-color:transparent; float: right; display: flex; flex-direction: column;">
                <div style="background-color: rgb(112, 168, 203); text-align: center; line-height: 45px; vertical-align: middle;">について</div>
                <div class="box" style="flex-grow: 1; overflow:auto;">
                    <div style="font-size:18px;">
                        <p>As you've read before I've done a bunch of programming in my past, and I have also done some designing work for my friends!</p>
                        <p><br/>I've programmed since... 2022..? However, really started in 2023 which I tried to make an app (albiet, probably something way out of my skill range at the time) but I still tried. Though, ever since that point I'm confident in my abilities to actually do real projects without much of a worry of not being able to do it.</p>
                        <p><br/>I have been designing for a LONG time, I've first started doing it on my phone around in 2019 and made a theme for jailbroken-iOS devices; named "Parousia", and ever since that I've found a passion for designing in general and I've just been always doing it if people asked for it!</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="row" style="padding-top:10px;">
            <div class="column" style="width: 100%; background-color:transparent; float: right; display: flex; flex-direction: column;">
                <div class="box" style="flex-grow: 1; overflow:auto;">
                    <div style="font-size:18px; padding-bottom:15px">
                        <p>Things I know!!</p>
                    </div>
                    <div style="font-size:18px;">
                        <p> Swift:
                            <Code>Appkit</Code>
                            <Code>SwiftUI</Code>
                            <Code>UIKit</Code>
                        </p>
                        <div style="padding-bottom:15px"></div>
                        <p> Objective-C:
                            <Code>Appkit</Code>
                            <Code>Cocoa</Code>
                            <Code>UIKit</Code>
                        </p>
                        <div style="padding-bottom:15px"></div>
                        <p> Web:
                            <Code>Html</Code>
                            <Code>Css</Code>
                            <Code>Javascript</Code>
                        </p>
                    </div>
                    <div style="font-size:18px; padding-bottom:15px; padding-top:25px">
                        <p>Software for (programming) that I use</p>
                    </div>
                    <div style="font-size:18px;">
                        <p>• <Code>iTerm 2</Code></p>
                        <p style="padding-top:15px">• <Code>VSCode</Code></p>
                        <p style="padding-top:15px">• <Code>Xcode</Code></p>
                        <p style="padding-top:15px">• <Code>Zcode (I made this!)</Code></p>
                    </div>
                    <div style="font-size:18px; padding-bottom:15px; padding-top:25px">
                        <p>Software for (designing) that I use</p>
                    </div>
                    <div style="font-size:18px;">
                        <p>• <Code>Pixelmator Pro</Code></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="padding-top:15px;">
            <div class="box" style="border-radius:0; overflow:hidden;">
            <marquee>'Mon Mar 13 03:59' I wanna work on listing the projects I work on; on this page, but I'm so tired and I'll do it later!! :)))) </marquee>
            </div>
        </div>


        


    </div>
</Layout>