---
import Layout from "../layouts/Default.astro";
import Footer from "../components/Page/Footer.astro";
---

<Layout>
	<div class="layout">
   		<h1>Nothing here yet!</h1>
		<Footer/>
	</div>
</Layout>
