---
import Layout from "../layouts/Default.astro";
import Footer from "../components/Page/Footer.astro";
import Socials from "../components/Socials.astro";
---

<Layout>
    <div class="layout">
        <h2>Find Me</h2>
        <p>
            There are various ways to contact and find me, I'm around le interwebs.
        </p>
        <Socials/>
        <Footer/>
    </div>
</Layout>