---
import Layout from "../layouts/Default.astro";
import Contacts from "../components/contacts/contacts.astro";
import "../styles/page.css";
import "../components/card/card.css";
import Friends from "../components/friends/friends.astro";
import Projects from "../components/projectcard/Projects.astro";
---

<Layout>
  <style>
      .layout.centered {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100vh;
      }
      .huge-text {
          font-size: 5em;
      }
      .home-link {
          filter: invert(1);
          margin-top: 50px;
          width: 68px;
          height: 68px;
      }
  </style>
  <div class="layout centered">
      <h1 class="huge-text">404</h1>
      <a href="/"><img src="/assets/svg/icons8-home-96.png" alt="Home" class="home-link"/></a>
  </div>
</Layout>
