---
import Layout from "../layouts/Default.astro";
import Contacts from "../components/contacts/contacts.astro";
import "../styles/page.css";
import Card from "../components/card/card.astro";
import Friends from "../components/friends/friends.astro";
import About from "../components/about/about.astro";
import Time from "../components/time/time.astro";
---

<Layout>
  <script src="../scripts/time.js"/>

  <style>
    .meow { display:contents; }
    .meow2 { margin-right: 0px; }
    .meow3 { margin-left:20px }
    @media screen and (min-width: 600px) {
      .meow { display:flex; }
      .meow2 { margin-right: 15px; }
      .meow3 { margin: 0 auto }
    }
  </style>

  <img class="meow3" style="display: block;width: 20%;height: auto;" src="/assets/kh.png"/>

  <div class="layout">
    <div class="meow">

      <div class="meow2">
        <Card/>
        <Contacts/>
        <Time/>
      </div>

      <div>
        <About/>
        <Friends/>
      </div>

    </div>
  </div>
</Layout>
