---
import Layout from "../layouts/Default.astro";
import Contacts from "../components/contacts/contacts.astro";
import "../styles/page.css";
import "../components/card/card.css";
import Friends from "../components/friends/friends.astro";
import Projects from "../components/projectcard/Projects.astro";
---

<Layout>
  <script src="../scripts/time.js"/>
  <script src="../components/card/card.js"/>
  <div class="layout" style="margin-top: 100px;">

    <h1>About</h1>
    <div style="display:flex;">
      <div style="margin-left: -5px;" class="profile-card" id="profileCard">
        <div class="profile-image-wrapper">
          <img id="profileImage" class="profile-image" alt="Profile Image"/>
          <img class="pin-icon" src="/assets/pin.png"/>
        </div>
        <b id="profileName"/>
        <p id="profileUsername"/>
      </div>

      <b>
        <h2>Hey!</h2>
        I'm a software developer from California, specializing towards software development for Apple-based systems & Darwin platforms.
        <br/><br/>
        I usually spend my free time doing things for others such as writing any sort of user-interface or even doing some icon Designing! As well as playing games and just generally having fun with others.
        <br/><br/>
        I have quite a bit of a tongue for designing or making stuff look good (at least to me) in general, I've started off as a designer making icons for friends but then when I got into coding those skills seemed to benefit me a lot there.
        <br/>
        <img src="/assets/line.png" class="stupid-line"/>
      </b>
    </div>

    <Contacts/>

    <h1 style="margin-top: 0px;">Projects</h1>
    <Projects/>
      
    <img src="/assets/moreongh2.png" class="stupid-more"/>
    <Friends/>
  </div>
</Layout>
