---
import Layout from "../layouts/Default.astro";
import "../styles/page.css";
import Code from "../components/Block.astro";
---

<Layout>
    <div class="box" style="position: relative;border:none; max-width:500px; height:1000px;overflow:hidden;margin: 0 auto;">
        <p>I will write stuff here probably not sure</p>
    </div>
</Layout>