---
import Layout from "../layouts/Default.astro";
import "../styles/page.css";
import Skills from "../components/Skills/Skills.astro";
import Projects from "../components/Projects.astro";
---

<Layout>
  <div>
    <Skills/>
    <p>Here's some projects I've either contributed to or made!</p>
    <Projects/>
  </div>
</Layout>
