---
import "../../styles/page.css";
---

<time>
    <style>

        .time-container {
            display: flex;
            border-radius: 8px;
            background-color: #1c1c1c;
            width: auto;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
        }
        @media screen and (min-width: 600px) {
            .time-container {
                width: 200px;
            }
        }

        #pst-time {
            margin: auto; /* Center the element horizontally */
            padding: 20px; /* Add padding */
            color: #57bee0;
        }

    </style>
    <div style="margin-bottom: 18px;" class="time-container">
        <div id="pst-time"/>
    </div>
</time>

<script src="../../scripts/time.js"/>
