---

---

<style>
    .footer-container {
        text-align: center;
        color: #fff;
        font-size: 12px;
        max-width: auto;
        margin: 0 auto;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    }

    @media screen and (min-width: 800px) {
        .footer-container {
            max-width: 700px;
            background-color: #1c1c1c;
        }
    }
</style>

<footer>
    <div class="footer-container">
        <p style="padding:10px">
            Copyright (c) 2024 khcrysalis · <a
                href="https://github.com/khcrysalis/ssalggnikool.xyz"
                >Source Code</a>
        </p>
    </div>
</footer>
