---
---

<style>
    .footer-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 56px;
        text-align: center;
        border-top: 1px solid var(--site-card-border-color);
        margin-inline: 20px;
    }

    @media screen and (max-width: 450px) {
        .footer-container {
            display: none;
        }
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .footer-links {
        display: flex;
        gap: 10px;
    }

    .footer-links a {
        color: var(--site-links-color);
        text-decoration: none;
        transition: color 0.3s;
    }

    .footer-links a:hover {
        color: var(--site-links-color-hover);
        text-decoration: underline;
    }

    .random-text {
        display: flex;
        align-items: center;
    }
    @media screen and (max-width: 700px) {
        .random-text {
            display:none;
        }
    }
</style>

<footer>
    <script src="../scripts/friends.js"/>
    <div class="footer-container">
        <div class="random-text">
            <strong>Check out my friends!</strong>
        </div>
        <span/>
        <div>
            <div id="imageLinks" style="flex-wrap: wrap; justify-content: center; padding-top:12px;padding-left:12px;"/>
        </div>
    </div>
</footer>
