---
import ProjectCard from "./ProjectCard.astro";

const repos = [
    "https://api.github.com/repos/palera1n/palera1n",
    "https://api.github.com/repos/palera1n/palen1x",
    "https://api.github.com/repos/khcrysalis/Binder",
    "https://api.github.com/repos/khcrysalis/Zcode",
    "https://api.github.com/repos/khcrysalis/khcrysalis.dev",
];

const repoData = await Promise.all(
    repos.map(async repo => {
        const requestInit = {
            headers: new Headers({
                "User-Agent": "https://github.com/khcrysalis/khcrysalis.dev",
            }),
        } satisfies RequestInit;



        return fetch(repo, requestInit)
            .then(async r => {
                if (!r.ok) {
                    const e = await r.text().catch(() => "Unknown Error");
                    throw new Error(
                        `Failed to fetch repo info for ${repo}: ${r.status} ${r.statusText}\n${e}`
                    );
                }
                return r.json();
            })
            .catch(e => {
                console.error(e);
                return null;
            });
    })
);
---

<div>
    {repoData.map(data => (data ? <ProjectCard {...data} /> : null))}
</div>

<style>
    div {
        --cols: 2;
        display: grid;
        grid-template-columns: repeat(var(--cols), minmax(0, 1fr));
        gap: 0.75em;
    }

    @media screen and (max-width: 1400px) {
        div {
            --cols: 2;
        }
    }

    @media screen and (max-width: 1000px) {
        div {
            --cols: 1;
        }
    }
</style>