---
import "../../styles/page.css";
---

<sendmesomething>
    <style>
        .container {
            display: flex;
            flex-direction: column;
            border-radius: 8px;
            background-color: #1c1c1c;
            width: auto;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
            padding: 15px;
        }

        .input-container {
            margin-bottom: 15px;
        }

        .input-container input[type="email"],
        .input-container textarea,
        .input-container input[type="text"] {
            width: 100%;
            border-radius: 5px;
            border: 1px solid #282828;
            background-color: #141414;
            color: white;
            font-size: 12px;
            resize: none;
            box-sizing: border-box;
            padding: 8px;
        }

        .input-container input[type="text"],
        .input-container input[type="email"] {
            height: 40px;
        }

        .button-container {
            text-align: center;
        }

        .button-container button {
            height: 40px;
            width: 100%;
            background-color: #508ec0;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .button-container button.disabled {
            background-color: #3c3c3c;
            cursor: not-allowed;
        }

        .button-container button:hover:not(.disabled) {
            background-color: #57bee0;
        }
        .text-container p {
            color: #57bee0;
            font-size: 14px;
            justify-content: center;
            text-align: center;
        }
    </style>

    <div class="container">
        <div class="text-container">
            <p>Message me!</p>
        </div>
        <div class="input-container">
            <input type="text" id="name" placeholder="Name" />
        </div>
        <div class="input-container">
            <input type="email" id="email" placeholder="Enter your email" />
        </div>
        <div class="input-container">
            <textarea id="message" rows="4" placeholder="Enter your message"
            ></textarea>
        </div>
        <div class="button-container">
            <button id="sendButton" disabled>Send</button>
        </div>
    </div>

    <script>
        sendButton.classList.add("disabled");
        document.addEventListener("DOMContentLoaded", function () {
            var sendButton = document.getElementById("sendButton");
            var nameInput = document.getElementById("name");
            var emailInput = document.getElementById("email");
            var messageInput = document.getElementById("message");

            // Function to enable or disable the send button based on input fields
            function toggleSendButton() {
                if (
                    emailInput.value.trim() !== "" &&
                    messageInput.value.trim() !== "" &&
                    nameInput.value.trim() !== ""
                ) {
                    sendButton.disabled = false;
                    sendButton.classList.remove("disabled");
                } else {
                    sendButton.disabled = true;
                    sendButton.classList.add("disabled");
                }
            }

            // Add event listeners to input fields to toggle send button
            emailInput.addEventListener("input", toggleSendButton);
            messageInput.addEventListener("input", toggleSendButton);
            nameInput.addEventListener("input", toggleSendButton);

            sendButton.addEventListener("click", function () {
                sendMessage();
            });
        });
        function sendMessage() {
            var email = document.getElementById("email").value;
            var message = document.getElementById("message").value;
            var name = document.getElementById("name").value;
            // Intentionally public, I dont really care
            var webhookURL = "https://discord.com/api/webhooks/1246215276698140863/88m9E-p4R_xiYGu4OfNHSOlgWugGQyCnwZoQ_VbfxzcZS6mM6nsKpz0OICHlcEXocaGv";
            var embed = {
                content: "New message from `khcrysalis.dev`!",
                embeds: [
                    {
                        color: 16750230,
                        fields: [
                            { 
                                name: "` message   `", 
                                value: message,
                            },
                            { 
                                name: "` name      `", 
                                value: name,
                                inline: true
                            },
                            { 
                                name: "` email     `", 
                                value: email, 
                                inline: true
                            }
                        ],
                    },
                ],
            };

            discord_message(webhookURL, embed);

            document.getElementById("email").value = "";
            document.getElementById("message").value = "";
            document.getElementById("name").value = "";

            document.getElementById("sendButton").disabled = true;
            document.getElementById("sendButton").classList.add("disabled");
        }

        function discord_message(webHookURL, embed) {
            var xhr = new XMLHttpRequest();
            xhr.open("POST", webHookURL, true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.send(JSON.stringify(embed));
        }
    </script>
</sendmesomething>
