---
---

<hr class="seperator"/>

<div class="box" style="display: flex; align-items: center;">
    <img src="https://github.com/khcrysalis.png" alt="Profile Image" style="border-radius: 5%; width: 76px; height: 76px; margin-right: 10px;">
    <p style="margin: 0;">
        Hi, I'm Samara! I'm a small programmer who likes doing things related to iOS. You can follow me on <a href="https://twitter.com/khcrysalis" target="_blank">Twitter</a>, see some of my work and projects on <a href="https://github.com/khcrysalis" target="_blank">Github</a>.
    </p>
</div>

<div style="text-align: center; color:var(--site-seperator-color); padding-bottom: 10px; padding-top: 20px;">
    © 2024, Samara ∙ 
    Site licensed under <a href="https://github.com/khcrysalis/khcrysalis.dev?tab=GPL-3.0-1-ov-file">GPL v3</a>
     ∙ 
    <a href="https://github.com/khcrysalis/khcrysalis.dev">Site Source</a>
</div>
