---
const currentPath = Astro.url.pathname;
---

<style>
    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 56px;
        text-align: center;
        max-width: 800px;
        margin: 0 auto;
        padding: 0 20px;
    }

    .header-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .header-links {
        display: flex;
        gap: 10px;
    }

    .header-links a {
        padding: 8px 16px;
        border-radius: 5px;
        text-decoration: none;
        color: inherit;
        border: 1px solid var(--site-secondary-color);
    }
</style>

<header>
    <div class="header-container">
        <div class="header-content">
            <div class="header-links">
                <a href="/blog">← Back</a>
            </div>
        </div>
    </div>
</header>
