---
---

<hr class="seperator"/>

<span style="color:var(--site-seperator-color); padding-bottom: 120px;">
    © 2024, Samara<br/>
    Made with <a>❤</a> by Samara<br/>
    Site licensed under <a href="https://github.com/khcrysalis/khcrysalis.dev?tab=GPL-3.0-1-ov-file">GPL v3</a>
     ∙ 
    <a href="https://github.com/khcrysalis/khcrysalis.dev">Site Source</a>
</span>
