---

const d = {
	skills: [
		{ icon: "/assets/svg/skills_swift.png", media: "Swift", link: "https://www.swift.org" },
		{ icon: "/assets/svg/skills_swift.png", media: "SwiftUI", link: "https://developer.apple.com/xcode/swiftui/" },
		{ icon: "/assets/svg/skills_objc.png", media: "Objective-C", link: "https://en.wikipedia.org/wiki/Objective-C" },
		{ icon: "/assets/svg/skills_objc.png", media: "Cocoa Touch (UIKit / Appkit)", link: "https://developer.apple.com/library/archive/documentation/General/Conceptual/DevPedia-CocoaCore/Cocoa.html" },
		{ icon: "/assets/svg/skills_c.png", media: "C", link: "https://en.wikipedia.org/wiki/C_(programming_language)" },
		{ icon: "/assets/svg/skills_html.png", media: "HTML", link: "https://developer.mozilla.org/en-US/docs/Web/HTML" },
		{ icon: "/assets/svg/skills_astro.png", media: "Astro", link: "https://astro.build" },
	],
};

---

<skills>
    <div style="display: flex;flex-wrap: wrap;">
        {
			d.skills.map((item) => (
				<a href={item.link} target="_blank" rel="noopener noreferrer" style={{ textDecoration: 'none' }}>
					<div class="contact-pill">
						<img src={item.icon} alt={item.media} />
						<span>{item.media}</span>
					</div>
				</a>
			))
        }
	</div>
</skills>