---
import Head from "../components/Head.astro";
import "../styles/page.css";
import Footer from '../components/Footer.astro';
import "../components/snowflake.css";
---

<!doctype html>
<html lang="en">

    <!-- Head -->

    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"
        />
    </head>

    <div id="snowflakes" aria-hidden="true"></div>
    <script src="../scripts/snowflake.js"></script>

    <body>
        <main style="margin-bottom: 100px;">
            <slot/>
        </main>
    </body>
    <Footer/>
</html>
