---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/page.css";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width" />
        <Head />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
        />
    </head>

    <body>
        <div class="layout">
            <Header/>
            <div class="main-container">
                <main style="min-width:100%;">
                    <slot/>
                </main>
            </div>
            <Footer/>
        </div>
    </body>
</html>
