---
import Head from "../components/Head.astro";
import "../styles/page.css";
---

<!doctype html>
<html lang="en">

    <!-- Head -->

    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"
        />
    </head>

    <!-- Default Layout -->

    <body>
        <main style="">
            <slot/>
        </main>

        <div style="margin-bottom:50px;">
            <h5 style="margin-bottom: 0; margin-top: 50px;">Meant to be viewed on browser :)</h5>
            <h4 style="margin-bottom: 0; margin-top: 5px;">© Copyright 2024 ssalggnikool. All Rights Reserved</h4>
        </div>

        <script src="../scripts/oneko.js"/>
    </body>

</html>
