---
import { ViewTransitions } from 'astro:transitions';

import Head from "../components/Head.astro";
import Header from "../components/Header.astro";

import "../styles/page.css";
import "../styles/page_components.css";

---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width" />
        <Head />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
        />
        <style>
            @keyframes slideInFromRight {
                from { 
                    opacity: 0; 
                    transform: translateX(100%);
                }
                to { 
                    opacity: 1; 
                    transform: translateX(0);
                }
            }

            main {
                animation: slideInFromRight 0.4s ease-in-out;
            }
        </style>
    </head>
    <ViewTransitions/>

    <body>
        <Header/>
        <div>
            <main>
            <slot/>
            </main>
        </div>
    </body>
    
</html>