---
import Head from "../components/Head.astro";
import "../styles/page.css";
import Footer from '../components/Footer.astro';
---

<!doctype html>
<html lang="en">

    <!-- Head -->

    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"
        />
    </head>

    <!-- Default Layout -->
    <script src="../scripts/oneko.js"/>
    <body>
        <main style="">
            <slot/>
        </main>
    </body>
    <Footer/>
</html>
