---
import "../../styles/page.css";
---

<contacts>
    <style>
        .contact-pill {
            padding: 12px;
            text-decoration: none;
            display: flex;
            align-items: center;
            color: #57bee0;
        }

        .contact-pill img {
            width: 20px;
            height: 20px;
            margin-right: 12px;
            filter: invert(50%);
        }

        .contact-name {
            position: relative;
            top: 1px;
        }

        .contacts-container {
            display: flex;
            flex-direction: column;
            border-radius: 8px;
            background-color: #1c1c1c;
            width: auto;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
        }

        @media screen and (min-width: 600px) {
            .contacts-container {
                width: 200px;
            }
        }

        .contact-pill:not(:last-child) {
            border-bottom: 1px solid #2e2e2e;
        }
    </style>
    <div style="margin-bottom: 18px;" class="contacts-container">
        <a class="contact-pill" href="https://discord.com/users/836452332387565589">
            <img src="/assets/svg/discord.svg" />
            <span class="contact-name">Discord</span>
        </a>
        <a class="contact-pill" href="https://github.com/khcrysalis">
            <img src="/assets/svg/github.svg" />
            <span class="contact-name">Github</span>
        </a>
        <a class="contact-pill" href="https://twitter.com/khcrysalis">
            <img src="/assets/svg/twitter.svg" />
            <span class="contact-name">Twitter</span>
        </a>
        <a class="contact-pill" href="mailto:flower@palera.in">
            <img src="/assets/svg/email.svg" />
            <span class="contact-name">Email</span>
        </a>
        <a class="contact-pill" href="https://signal.me/#eu/JzmWxsZcQ2VBgixHquYkspQ9fJM9Hkqo0WsM8N5u19cNlpKAPHpKZY7r/MLlAYew">
            <img src="/assets/svg/signal.svg" />
            <span class="contact-name">Signal</span>
        </a>
    </div>
</contacts>
